.workfolio {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1.25rem;
  padding: 4rem 1.25rem;
  text-align: center;
}

.workfolio .workfolio__header {
  display: block;
}

.workfolio .workfolio__header h2 {
  font-family: var(--glamore);
  font-weight: 400;
  font-size: 1.875rem;
}

.workfolio .workfolio__header p {
  font-weight: 400;
  font-size: 1.25rem;
  margin-top: -2rem;
}

.workfolio .workfolio__details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.workfolio .workfolio__details img {
  width: 21.25rem;
  height: 30.8rem;
}

.workfolio .workfolio__details .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
}

.text ul {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 2rem;
  text-align: left;
}

.text ul li {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 1rem;
  font-size: 1.25rem;
  list-style-type: none;
  line-height: 1.8rem;
}

.text button {
  width: 10rem;
  height: auto;
  font-size: 1rem;
  color: white;
  font-weight: 500;
  font-family: var(--maginia);
  border: 1px solid white;
  border-radius: 5px;
  background: transparent;
  transition: all 300ms ease;
}

.text button:hover {
  color: black;
  background: white;
}

@media screen and (min-width: 37.5rem) {
  .workfolio {
    gap: 2.3rem;
    padding: 6rem 1.25rem;
  }
  
  .workfolio .workfolio__header h2 {
    font-size: 2rem;
  }
  
  .workfolio .workfolio__header p {
    font-size: 1.5rem;
    margin-top: -2rem;
  }
  
  .workfolio .workfolio__details {
    flex-direction: row;
    gap: 2rem;
  }
  
  .workfolio .workfolio__details img {
    width: 22.25rem;
    height: 34.8rem;
  }
  
  .workfolio .workfolio__details .text {
    gap: 3rem;
  }
  
  .text ul {
    gap: 2rem;
  }

  .text ul li {
    font-size: 1.5rem;
    line-height: 2.5rem;
  }

  .text button {
    width: 10.5rem;
    font-size: 1.25rem;
  }
}

@media screen and (min-width: 64rem) {
  .workfolio {
    gap: 4rem;
    padding: 8rem 1.25rem;
  }

  .workfolio .workfolio__details img {
    width: 26.25rem;
    height: 42.8rem;
  }

  .text ul li {
    gap: 2rem;
    font-size: 1.8rem;
    line-height: 2.8rem;
  }
}
