@import url('https://fonts.cdnfonts.com/css/maginia');
@import url('http://db.onlinewebfonts.com/c/070f94f1b8bf97d12e602de9c0812fe7?family=Glamore');

:root {
  --maginia: 'Maginia', sans-serif;
  --glamore: 'Glamore', sans-serif;
}
  
body {
  background: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: var(--maginia);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: white;
}

.padding {
  padding-right: 1.25rem;
  padding-left: 1.25rem;
}

@media screen and (min-width: 37.5rem){
  .padding {
    padding-right: 3rem;
    padding-left: 3rem;
  }
}

@media screen and (min-width: 64rem){
  .padding {
    padding-right: 5rem;
    padding-left: 5rem;
  }
}


/* ===================== */

@media screen and (min-width: 37.5rem){
 
}

@media screen and (min-width: 64rem){
 
}
